.myCointainer{
    width: 100%;
    overflow: auto;
}
.myCointainer div{
    width: 33%;
    float: left;
}
div{
    width: 33%;
    display: inline-block;
}
.big{
    font-size: 2.5rem;
    font-weight: bolder;
    color: red;
}

div{
    background-color: goldenrod;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

h2{
    text-align: center;
    color: #fff;
    text-decoration: underline;
    font-size: 200%;
}
    

h4{
    font-size: 150%;
    font-style: italic;
}
p{
    background-color: black;
    color: goldenrod;
    padding: 10px;
}