
     

div{
    margin: 0%;
    width: 30%;
    padding: 10px;
    background-color: aquamarine;
    color: brown;
    text-align: left;


}

h2{

    color: blue;
    font-weight: bolder;
    font-style: italic;
}

p{
    font-style: oblique;
    color: darkgreen;
}

.content{
    background-color: darkred;
}